.wrapper {
	margin-top: 70px;
	height: 85%;
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
}
.left {
	float: left;
}
.middle {
	float: center;
}
.right {
	float: right;
}
.spinner {
	height: 400px;
	width: 400px;
}
.no-bullets {
	list-style-type: none; /* Remove bullets */
}

.cardstyle {
	height: 90%;
	color: rgb(0, 39, 51);

	padding: 0px 10px;
	text-transform: uppercase;
}

.cardtitle {
	text-align: center;
}
